# gradle
/build/
/.gradle/
/out/
gradle.properties

# eclipse files
.classpath
.project
.settings/
/bin/

# intellij files
/.idea/
*.iml
*.ipr
*.iws

# netbeans files
/.nb-gradle/
*.nb-gradle-properties

# other files
*.mp3
*.aac
*.m4a
*.wav
*.flac
*.ogg
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.env
*.json